/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    max-width: 1080px;
    margin: auto;
}

/* Sezione colonne */
.row{
    margin-bottom: 40px;
    margin-top: 20px;
}
.col{
    margin: 0 10px;
    width: calc(100% / 3 - 20px);
    float: left;
    position: relative;
}
.col img{
    width: 100%;
    
}
.square{
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
/* Styling didascalie */
.col .brand{
    text-transform: capitalize;
}
.col h3{
    text-transform: uppercase;
}
.col .price{
    color: red;
}
.col .discount{
    text-decoration:line-through;
    color: black;
}