/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    max-width: 1080px;
    margin: auto;
}

/* Sezione colonne */
.row{
    margin-bottom: 40px;
    margin-top: 20px;
}
.col{
    margin: 0 10px;
    width: calc(100% / 3 - 20px);
    float: left;
}
.img-wrapper{
    position: relative;
}
.col img{
    width: 100%;
    
}
/* Overlay items */
.heart{
    height: 40px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.sostenibilita-label{
    position: absolute;
    color: white;
    background-color: #00875a;
    bottom: 30px; 
    left: 50px;
    padding: 2px;
}

.discount-label{
   color: white;
   background-color: #e84369;
   padding: 2px;
   position: absolute;
   bottom: 30px; 
}
/* fix ignorantissimo per l'ultimo label sostenibilita */
.row:last-child .col:last-child .sostenibilita-label:last-child{
    left: 0;
}
/* Styling didascalie */
.col .brand{
    text-transform: capitalize;
}
.col h3{
    text-transform: uppercase;
}
.col .price{
    color: red;
    font-weight: bold;
}
.col .discount{
    text-decoration:line-through;
    color: black;
    font-weight: bold;
}


/* Animazioni di fade degli oggetti alternativi */
.img-wrapper:hover .overlay {
   opacity: 1;
}

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-position: center;
    background-size: cover;
  }
.overlay.first-item{
    background-image: url(../img/1b.webp);
}
.overlay.second-item{
    background-image: url(../img/2b.webp);
}
.overlay.third-item{
    background-image: url(../img/3b.webp);
}
.overlay.forth-item{
    background-image: url(../img/4b.webp);
}
.overlay.fifth-item{
    background-image: url(../img/5b.webp);
}
.overlay.sixth-item{
    background-image: url(../img/6b.webp);
}