/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    max-width: 1080px;
    margin: auto;
}

/* Sezione colonne */
.col{
    width: calc(100% / 3 - 20px);
    float: left;
}
.col img{
    width: 100%;
    padding-right: 10px;
}